<div
  class="bg-white w-full py-1 px-5 flex justify-between items-center border-b-2"
>
  <div class="ml-6 w-3/6 relative flex">
    <input
      type="text"
      class="
        border-2 border-gray-300
        active:border-gray-600
        px-3
        py-1
        rounded-xl
        w-full
      "
      placeholder="Search"
    />
    <button
      class="
        ml-2
        bg-gradient-to-r
        from-crimsonRed
        to-red-600
        hover:to-red-700
        active:to-red-600
        px-3
        py-1
        rounded-xl
        text-white
        font-semibold
      "
    >
      Search
    </button>
  </div>
  <div class="flex items-center" *ngIf="user">
    <img
      src="{{user?.profile?.profileImage?.url}}"
      class="rounded-full"
      height="50px"
      width="50px"
    />
    <div class="ml-2 font-semibold text-gray-600" *ngIf="user.type == 'Shop'">
      {{user.profile?.shopName}}
    </div>
    <div class="ml-2 font-semibold text-gray-600" *ngIf="user.type == 'Customer' || user.type == 'Moderator'">
      {{user.profile?.firstName}} {{user.profile?.lastName}}
    </div>
    <button
      (click)="logout()"
      class="m-3 border-crimsonRed rounded-md border-2 px-2 py-1 text-crimsonRed hover:text-white hover:bg-crimsonRed">
      Logout
    </button>
  </div>
</div>
