<div
  class="bg-white w-full py-1 px-5 flex justify-between items-center border-b-2"
>
  <div class="ml-6 w-3/6 relative flex">
    <input
      type="text"
      class="
        border-2 border-gray-300
        active:border-gray-600
        px-3
        py-1
        rounded-xl
        w-full
      "
      placeholder="Search"
    />
    <button
      class="
        ml-2
        bg-gradient-to-r
        from-crimsonRed
        to-red-600
        hover:to-red-700
        active:to-red-600
        px-3
        py-1
        rounded-xl
        text-white
        font-semibold
      "
    >
      Search
    </button>
  </div>
  <div class="flex items-center">
    <img
      src="https://thumbs.dreamstime.com/b/female-avatar-profile-picture-vector-female-avatar-profile-picture-vector-102690279.jpg"
      class="rounded-full"
      height="50px"
      width="50px"
    />
    <div class="ml-2 font-semibold text-gray-600">John Black</div>
    <img
      src="assets/icons/ph_shopping-cart-simple-light.svg"
      class="ml-4"
      width="25px"
    />
    <img src="assets/icons/ph_caret-down-light.svg" class="ml-2" width="25px" />
  </div>
</div>
